<div class="card">
  <h2>Seja Bem-vindo(a) a nossa Clﾃｭnica宖窓</h2>
  <p>Use o menu para acessar nossos mﾃｳdulos, ou comece cadastrando um mﾃｩdico.</p>
  <a href="/medicos/novo" class="btn">Cadastrar Mﾃｩdico</a>
</div>
